body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border: grey 5px solid;

}

header{
    border: #ccc 2px solid;
    height: 8vh;
    border-right: none;
    border-left: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}

main{
    /* border: #ccc 0px solid; */
    /* height: 85vh; */
    padding: 0;


}

footer{
    border: #ccc 2px solid;
    height: 5vh;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

#playlist-cards{
    display: inline-flex;
    margin-left: 40px;
    margin-right: 20px;
    margin-top:  30px;
    margin-bottom: 30px;
    padding-right: 10px;

}


.playlist-card{
    border: black 2px solid;
    height: 40vh;
    width: 30vh;
    /* margin: 10px; */
    overflow: hidden;
    /* margin-right: 40px; */
    border-radius: 10px;
    box-shadow: 10px 10px 12px rgba(0,0,0,0.6);

}
.playlist-card>img{
    height: 65%;
    width: 100%;
    /* padding-right: 5px;
    padding-left: 12px;
    padding-top: 20px; */

}

.playlist-card>p {
    margin: 5px 10px;
    text-align: left;
    overflow: hidden;
}

.heart-container {
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.heart {
    margin-right: 5px;
}

.count {
    font-weight: bold;
}


.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    /* justify-content: center;
    align-items: center;*/
 }
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    margin-top: 120px;
    border-radius: 50px;
    /* overflow: scroll; */
    padding-right: 50px;

 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 .modal-title{
    margin-top: 2vh;
    display: inline-flex;

 }

 .modal-title>img{
    height: 25vh;
    width: 30vh;
    margin: 2vh;
    margin-left: 100px;
    margin-bottom: 30px;

 }

 .modal-title>p{
    display: inline-block;

 }

 .modal-card{
    border: #888 1px solid;
    margin-bottom: 20px;
    width: 90%;
    height: 90px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;



 }

 .modal-cards{
    overflow: scroll;
    border: black 4px solid;
    margin-left: 100px;
    margin-right: 50px;
    padding-left: 5px;
    padding-top: 50px;
    height: 40%;
    border-radius: 20px;



 }
 .song-image>img{
    height: 70px;
    width: 70px;

 }

 .song-info{
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 78%;

 }
